.App {
  text-align: left;
  margin-left: 100px;
}

.listForm {
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left
}

.listItem {
  margin: 10px;
}

.delete {
  background-color: rgb(231, 61, 61);
  color: rgb(59, 11, 11)
}

#addButton {
  margin-left: 10px;
}

.complete {
  text-decoration: line-through;
}